body {
    background-color: #00b5e2;
    color: #3812df;
    font-family: Candara, Calibri, "Segoe UI", "Arial", sans-serif;
    text-align: center;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
    color: #ffffff;	
}